.TradeHistory {
  color: #f4f4f4;
}

.TradeHistory .history-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TradeHistory .history-balance {
  display: flex;
  justify-content: flex-start;
}

.TradeHistory ul {
  list-style: none;
  padding-left: 0;
  max-width: 98%;
  max-height: 400px;
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 5px;
  overflow-y: scroll;
}

.TradeHistory ul li {
  color: white;
  display: flex;
  justify-content: space-around;
}

.TradeHistory ul li div {
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  height: 70px;
  display: flex;
}

.TradeHistory ul li p {
  margin: 2px 0;
  padding: 4px;
}

/* .TradeHistory ul .loser {
  background-color: rgba(126, 42, 42, 0.726);
  width: 97%;
  border-radius: 5px;
  margin: 5px auto;
}

.TradeHistory ul .winner {
  background-color: rgba(55, 126, 42, 0.726);
  width: 97%;
  border-radius: 5px;
  margin: 5px auto;
} */

.test {
  background-color: rgba(126, 126, 126, 0.507);
  margin: 2px;
  border-radius: 5px;
  color: white;
}

.TradeHistory ul .loser {
  background-color: rgba(126, 42, 42, 0.726);
  color: rgb(194, 194, 194);
  margin: 5px 3px;
  padding: 0 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TradeHistory ul .winner {
  background-color: rgba(55, 126, 42, 0.726);
  color: rgb(194, 194, 194);
  margin: 5px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

@media only screen and (min-width: 600px) {
  .TradeHistory ul {
    width: 60%;
  }
}
