.TradeHistory {
  color: #f4f4f4;
}

.TradeHistory .history-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TradeHistory .history-balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TradeHistory ul {
  list-style: none;
  padding-left: 0;
  max-width: 98%;
  max-height: 420px;
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 5px;
  overflow-y: scroll;
}

.TradeHistory ul li {
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.TradeHistory ul li div {
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  height: 70px;
  display: flex;
}

.TradeHistory ul li p {
  margin: 2px 0;
  padding: 4px;
}

.trade-list {
  background-color: rgba(126, 126, 126, 0.507);
  margin: 2px;
  border-radius: 5px;
}

.TradeHistory ul .loser {
  background-color: rgba(170, 63, 63, 0.671);
  color: white;
  margin: 5px 2px;
  /* width: 100%; */
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TradeHistory ul .winner {
  background-color: rgba(55, 126, 42, 0.726);
  color: white;
  margin: 5px 2px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

@media only screen and (min-width: 600px) {
  .TradeHistory ul {
    width: 60%;
  }

  .TradeHistory .history-head {
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
  }

  .TradeHistory .history-balance {
    width: 60%;
    margin: 0 auto;
  }

  .TradeHistory ul .winner,
  .TradeHistory ul .loser {
    padding: 0 10px;
    width: 100%;
  }
}
