.AddEditTradeModal {
  color: white;
  position: absolute;
  background-color: #000000;
  top: 15%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  border-radius: 5px;
  padding: 20px;
  overflow-y: scroll;
  z-index: 1;
}

.AddEditTradeModal .trade-modal-header {
  color: rgb(108, 138, 206);
}

.AddEditTradeModal .image-div {
  /* height: 150px; */
  /* width: 213px; */
}

.AddEditTradeModal img {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
}

.AddEditTradeModal .mini-message {
  width: 190px;
  margin: 10px auto;
  cursor: default;
}

@media only screen and (min-width: 1600px) {
  .AddEditTradeModal {
    top: 10%;
    left: 30%;
    right: 30%;
  }
}

@media only screen and (max-width: 330px) {
  .AddEditTradeModal {
    left: 8%;
    right: 8%;
  }
}
