.AddEditTradeModal {
  color: white;
  position: absolute;
  background-color: #000000;
  top: 15%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  border-radius: 5px;
  padding: 20px;
  overflow-y: scroll;
}

.AddEditTradeModal .trade-modal-header {
  color: rgb(108, 138, 206);
}
