.AddEditTradeModal {
  color: white;
  position: absolute;
  background-color: #000000;
  top: 15%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  border-radius: 5px;
  padding: 20px;
  overflow-y: scroll;
  z-index: 1;
}

.AddEditTradeModal .trade-modal-header {
  color: rgb(108, 138, 206);
}

@media only screen and (min-width: 1600px) {
  .AddEditTradeModal {
    top: 10%;
    left: 30%;
    right: 30%;
  }
}
