.Navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.Navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.Navbar ul li {
  margin: 0 5px;
}

.Navbar img {
  width: auto;
  height: 40px;
}

@media only screen and (min-width: 600px) {
  .Navbar ul {
    margin: 10px 200px;
  }
}

@media only screen and (min-width: 600px) {
  .Navbar {
    justify-content: space-between;
    margin: 0 auto;
  }

  .Navbar ul {
    margin: 10px 20px;
  }
}
