.App {
  text-align: center;
  height: 100vh;
}

.Backdrop {
}

/* GLOBAL CLASSES */

button {
  border: none;
}

.button-success {
  color: white;
  background: rgb(2, 143, 25);
  font-size: 28px;
  margin: 15px 0;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.button-success:hover {
  background: rgb(9, 121, 27);
}

.button-cancel {
  color: white;
  background: rgb(143, 101, 2);
  font-size: 28px;
  margin: 15px 0;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.button-cancel:hover {
  background: rgb(107, 77, 7);
}

.warning {
  color: rgb(255, 75, 75);
  background-color: #f4f4f410;
  border-radius: 5px;
  padding: 4px 10px;
}

.nav-button {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #3387c4 2%, #125184 100%);
}

.nav-button:hover {
  background: #093961;
}

.logout:hover {
  background: rgb(102, 12, 12);
}

.span-highlight {
  color: rgb(83, 128, 251);
  cursor: pointer;
  font-weight: bold;
  background-color: #f4f4f410;
  border-radius: 5px;
  padding: 4px 10px;
}

.span-green {
  color: rgb(0, 187, 31);
}
