.App {
  text-align: center;
}

/* GLOBAL CLASSES */

/* Buttons */

button {
  border: none;
}

.button-delete {
  color: black;
  font-weight: 600;
  background: rgb(184, 75, 75);
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.button-add {
  color: white;
  background: rgb(2, 143, 25);
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.button-success {
  color: white;
  background: rgb(2, 143, 25);
  font-size: 28px;
  margin: 15px 0;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.button-success:hover {
  background: rgb(9, 121, 27);
}

.view-trade {
  color: #d1caca;
  cursor: pointer;
  width: 91%;
  border-radius: 5px;
  background: linear-gradient(to bottom, #474e53 2%, #125184 100%);
}

.hide-list,
.chart-nav {
  color: #e7d5d5;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #474e53 2%, #125184 100%);
}

.button-greyed-out {
  color: rgb(93, 93, 93);
  background: rgb(124, 124, 124);
  font-size: 28px;
  margin: 15px 0;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.button-cancel {
  color: white;
  background: rgb(143, 101, 2);
  font-size: 28px;
  margin: 15px 0;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.button-cancel:hover {
  background: rgb(107, 77, 7);
}

.nav-button {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #3387c4 2%, #125184 100%);
}

.nav-button:hover {
  background: #093961;
}

.logout:hover {
  background: rgb(102, 12, 12);
}

/* Highlight colours */

.warning {
  color: rgb(255, 75, 75);
  background-color: #f4f4f410;
  border-radius: 5px;
  padding: 4px 10px;
}

.span-highlight {
  color: rgb(83, 128, 251);
  cursor: pointer;
  font-weight: bold;
  background-color: #f4f4f410;
  border-radius: 5px;
  padding: 4px 10px;
}

.span-green {
  color: rgb(0, 187, 31);
}

/* Font Sizes */

.font-size-1 {
  font-size: 1rem;
}

.font-size-2 {
  font-size: 1.5rem;
}

.font-size-3 {
  font-size: 2rem;
}

.font-size-4 {
  font-size: 2.5rem;
}

.font-size-5 {
  font-size: 3rem;
}

/* Generic margin */

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 1.5rem;
}

.mx-3 {
  margin: 0 2rem;
}

.mx-4 {
  margin: 0 2.5rem;
}

.mx-5 {
  margin: 0 3rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 2rem;
}

.ml-4 {
  margin-left: 2.5rem;
}

.ml-5 {
  margin-left: 3rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 2rem;
}

.mr-4 {
  margin-right: 2.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.m-05 {
  margin: 0.3rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 2.5rem;
}

.m-5 {
  margin: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
